.region .region__item { display: inline-block; text-align: left; margin: 0 42px; vertical-align: top;}
.select .select__list {
  max-height: 250px;
  overflow: auto;
}

.select .select__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.type .type__header {
 text-decoration: none;
}

.form_ind .header__title {
    font-family: "roboto-regular", Arial, sans-serif;
    font-size: 40px;
    color: #111;
    text-align: center;
}

.form_ind p {
    color: black;
    font-family: "Roboto-Light", Arial, sans-serif;
    text-align: center;
    font-size: 21px;
}

.list_container {
  overflow: hidden;
}

.list_container ul {
  float: left;
}

.list_container ul:first-child {
  margin-right: 100px;
}

.list_container ul li {
  max-width: 300px;
}

.address .address__item li:last-child {
    margin-bottom: 0;
    max-width: 150px;
}


.table-simple tr {
  height: 44px;
}

.header .header__title {
  padding: 0 10%;
  margin-bottom: 22px;
  line-height: 35px;
}

.header .header__title h1 {font-size: 40px;}

.header__city {
    float: left;
    position: relative;
    min-width: 250px;
    margin-left: 35px;
}
.header__city::before {
    content: "";
    float: left;
    display: block;
    width: 1px;
    height: 44px;
    margin-right: 25px;
    margin-top: 4px;
    background-color: #999999;
}
.header__city .header__city__title {
    font-size: 18px;
    font-family: "roboto-regular", Arial, sans-serif;
    color: #23a8d1;
    text-align: left;
}
.header__city .header__city__current {
    font-size: 21px;
    font-family: "roboto-bold", Arial, sans-serif;
    color: #23a8d1;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
}
.header__city .header__city__current span {
    border-bottom: solid 1px #23a8d1;
}
.header__city .header__city__current::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    width: 14px;
    height: 21px;
    margin-right: 5px;
    background: url('/img/icon__city.png') no-repeat;
}
.header__city .header__city__current::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    right: -8px;
    width: 8px;
    height: 8px;
    border: solid 2px transparent;
    border-left-color: #23a8d1;
    border-bottom-color: #23a8d1;
    transform: rotate(-45deg);
}

.select select {
  width: 10px;
}

.l .l-col2 {
  position: relative;
}



.address .address__item li {
  max-width: 200px;
}

.article p a {
    color: #87ccec;
    text-decoration: none;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.form {margin: 51px 0 11px;}

.table-list thead tr td:first-child, .table-list thead tr th:first-child, .table-list tbody tr td:first-child, .table-list tbody tr th:first-child {
  padding-right: 10px;
}

.table-list thead tr td:nth-child(2), .table-list thead tr th:nth-child(2), .table-list tbody tr td:nth-child(2), .table-list tbody tr th:nth-child(2) {
  width: 160px;
}

.table-list thead tr td:nth-child(3), .table-list thead tr th:nth-child(3), .table-list tbody tr td:nth-child(3), .table-list tbody tr th:nth-child(3) {
 width: 160px;
}

.table-list thead tr td:nth-child(4), .table-list thead tr th:nth-child(4), .table-list tbody tr td:nth-child(4), .table-list tbody tr th:nth-child(4) {
 width: 160px;
}

.breadcrumbs ul li span {
    font-family: Arial, sans-serif;
    color: #000;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 14px;
    text-decoration: none;
}

.address .address__header {
  text-decoration: none;
}

.type .type__item ul li {
    max-width: 200px;
}

.input-wrap { text-align: left; }
.input-wrap > div.colin { margin-left: -12px; margin-right: -12px; text-align: center; }
.input-wrap .col { display: inline-block; width: 25%; vertical-align: top; padding: 0 12px; }
.input-wrap .col.col_w20 { width: 20%; }
.input-wrap .form__input { width: 100%; }
.input-wrap .form__select { width: 100%; }

.input-wrap + .input-wrap { margin-top: 56px; }

.loading, .error, .success {
 display: none;
 padding-top: 10px;
}

.error {
 color: red;
}

.error-input {
 border: 1px solid red !important;
}

.header .logo img {
    width: 120px;
}

.header__top .logo img {
    width: auto;
}
.popup-wrap.popup-wrap-city {

}
.popup-wrap.popup-wrap-city .popup {
    width: 500px;
    height: 170px;
    padding: 34px 30px;
}
.popup-wrap.popup-wrap-city .btn-register {
    width: auto;
    height: 50px;
    padding: 0 30px;
    margin-right: 20px;
}
.popup-wrap.popup-wrap-city .btn-register.is-link {
    background: transparent;
    color: #23a8d1;
    border: solid 2px #23a8d1;
}
.popup-wrap.popup-wrap-city .popup .popup-location {
    margin-top: 0;
}


.popup-wrap.popup-wrap-city-choose .popup {
    width: 900px;
    height: auto;
    padding: 34px 30px;
}
.popup-wrap.popup-wrap-city-choose .popup .row {
    position: relative;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__icon {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 23px;
    height: 23px;
    background: url('/img/icon__search.png') no-repeat;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__input {
    width: 525px;
    padding-left: 50px;
    color: #727272;
    background: #e8eff1;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog {
    margin-top: 30px;
    font-family: "roboto-bold", Arial, sans-serif;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .col-item {
    float: left;
    width: 20%;
    padding-right: 10px;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter {
    margin-bottom: 1px;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter.hidden {
    display: none;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter:first-child {
    margin-top: -27px;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter .letter {
    display: inline;
    position: relative;
    top: 22px;
    font-size: 20px;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter ul {
    margin-left: 30px;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter ul li a {
    font-size: 14px;
    color: #23a8d1;
    text-decoration: none;
}
.popup-wrap.popup-wrap-city-choose .popup .city-choose__catalog .city-choose__catalog__letter ul li a.hidden {
    display: none;
}
